<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
                <a class="navbar-brand" href="/admin">Admin</a>
                <a class="navbar-brand" href="/article">Article</a>
            </div>
        </div>
    </nav>
    
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>